.pagination {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.pagination > li {
    border: solid 1px rgb(0, 114, 180);
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    user-select: none;
}